//colors
$myYellow: #edcd1f;
$myBlack-navbar: rgba(30, 45, 59, 0.8);
$myBlack: rgb(30, 45, 59);
$myGray: #f7f7f7;
//global styles
* {
  padding: 0;
  margin: 0;
  max-width: 100%;
  font-family: B Nazanin;
  font-size: 18px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  width: 100%;
}
//header
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 500px;
  z-index: -100;
  //particles
  #particles-js {
    background-image: linear-gradient(
      rgba(128, 128, 128, 0.8),
      rgba(237, 206, 31, 0.8)
    );
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: fixed;
  }
  #about-us-header {
    font-size: 2.5rem;
    margin-top: 15%;
    text-align: center;
    position: absolute;
    right: -35%;
    opacity: 0;
    animation: intro 1s ease-out;
    animation-fill-mode: forwards;
    .border {
      width: 6rem;
      height: 0.5rem;
      background-image: linear-gradient(to right, $myGray, $myBlack);
      border-radius: 1px;
      margin: auto;
      margin-top: 1.5%;
    }
  }
  @keyframes intro {
    100% {
      right: 43%;
      opacity: 1;
    }
  }
}
.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: $myGray;
  top: 70%;
  .about-main {
    width: 100%;
    display: flex;
    background-color: $myGray;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 5% 0 0 0;
    .about-text {
      width: 50%;
      direction: rtl;
      padding: 5% 10%;
      h1 {
        padding-bottom: 1%;
        margin-bottom: 12%;
        padding-top: 5%;
        border-bottom: 5px solid $myBlack;
        font-size: 1.5rem;
        width: 40%;
      }
    }
    img {
      width: 50%;
    }
  }
  .team {
    width: 100%;
    background-color: $myGray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8% 0 10% 0;
    .team-title {
      font-size: 2rem;
      border-bottom: 5px solid $myBlack;
      padding-bottom: 1%;
    }
    .members-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      direction: rtl;
      padding: 6% 10%;
      .members {
        width: 27%;
        border: $myBlack 2px solid;
        padding: 2%;
        img {
          width: 100%;
          border-radius: 3px;
        }
        .details {
          width: 100%;
          background-color: $myGray;
          padding: 6%;
          border-radius: 3px;
        }
        p::before {
          content: "";
          display: inline-block;
          width: 30px;
          height: 5px;
          background-color: $myYellow;
          margin-left: 2%;
        }
        .team-media {
          display: flex;
          justify-content: start;
          width: 100%;
          a {
            width: 16px;
            height: 16px;
            margin: 3%;
          }
          a:hover {
            transform: scale(1.3);
          }
        }
        .team-media::before {
          content: "";
          display: inline-block;
          width: 70px;
          height: 5px;
          background-color: $myYellow;
          margin-top: 5%;
        }
      }
    }
  }
  //footer
  footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: $myBlack;
    color: $myGray;
    padding: 1.5% 0;
    p {
      font-size: 0.8rem;
    }
  }
}

//tablet
@media screen and (max-width: 768px) {
  * {
    font-size: 16px;
  }
  .navbar {
    padding-bottom: 2%;
    .navbar-lists {
      display: none;
    }
    .ham-menu {
      display: block;
    }
  }
  .about {
    .about-main {
      flex-direction: column-reverse;
      .about-text {
        width: 100%;
        h1 {
          width: 48%;
        }
      }
      img {
        width: 100%;
      }
    }
    .team {
      .members-wrapper {
        flex-direction: column;
        .members {
          width: 60%;
          margin: auto;
          margin-top: 3%;
          margin-bottom: 8%;
        }
      }
    }
  }
}
//mobile
@media screen and (max-width: 375px) {
  * {
    font-size: 12px;
  }
  .header {
    @keyframes intro {
      100% {
        right: 38%;
        opacity: 1;
      }
    }
  }
}
